 .nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
    background-color: black;
    border-color: black;
}

.nav-tabs-custom .nav-tabs li.active {
    border-top-color: #FFF;
}

.logo {
    background-color: black !important;
    }
    .navbar {
    background-color: black !important;
    }

.small-box.bg-yellow { background-color: #FFFF00 !important; color: #000000 !important; }